h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    font-size: 2em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 0;
    border-bottom: 5px solid #555;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #f0f0f0;
    min-height: 100vh;
}

.prediction-container {
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#prediction-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

#prediction-result {
    margin-top: 20px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    text-align: center;
}

#training-results {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-height: 700px;
    overflow-y: auto;
}

.training-result-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.training-result-item div {
    margin-bottom: 5px;
}